*._ci_*.css
*._cmpld_.*
*.axds
*.csproj.user
*.lastcodeanalysissucceeded
*.ldf
*.less.css
*.mdf
*.opt
*.plg
*.psess
*.rrr
*.scss.css
*.tli
*.vsix
*.vsp
*.vspx
*.xtxt
*.$$$
thumbs.db

~*.docx

**/obj/
**/bin/**/*.xml
**/bin/**/*.config
**/bin/**/*.manifest

**/Logfile.txt

temp/

/.vs
/Packages/

/Website/Addons/**/
/Website/AddonsBundles/
/Website/App_Start/
/Website/Areas/**/
/Website/aspnet_client/
/Website/Block/

/Website/Docs/

/Website/Data/UpgradeLogFile.txt
/Website/SiteTemplates/*.txt

Website/Data/Appsettings.YetaWFDist4.json
Website/Data/Appsettings.Generic.json
Website/Data/Appsettings.GenericProd.json
Website/Data/LanguageSettings.Generic.json
Website/Data/MimeSettings.Generic.json
Website/Web.Generic.Prod.config
Website/Web.Generic.config
Website/Website.Generic.csproj
Website/Website.Generic.csproj_MVC5
YetaWF.Generic.sln

Website/bower_components
Website/node_modules
Website/package-lock.json

Website/Data/StartupLogFile.txt
Website/Localization/
