
*._ci_*.css
*._cmpld_.*
*.axds
*.csproj.user
*.lastcodeanalysissucceeded
*.ldf
*.less.css
*.mdf
*.opt
*.plg
*.psess
*.rrr
*.scss.css
*.tli
*.vsix
*.vsp
*.vspx
*.xtxt
*.$$$
thumbs.db

~*.docx


CoreComponents/**/bin
DataProvider/**/bin
Modules/**/bin
PublicTools/**/bin
Skins/**/bin
Website/**/bin

**/obj/

**/Logfile.txt

temp/

/.vs
/Packages/

/Website/Addons/**/
/Website/AddonsBundles/
/Website/App_Start/
/Website/Areas/**/
/Website/aspnet_client/
/Website/Block/
/Website/bower_components
/Website/Data/StartupLogFile.txt
/Website/Data/UpgradeLogFile.txt
/Website/Docs/
/Website/Localization/
/Website/node_modules
/Website/SiteTemplates/*.txt

/Website/package-lock.json

